<nav class="navbar navbar-expand-lg navbar-light bg-light" style="background: linear-gradient(45deg, #e61c1c, #2535f7b3)">
  <a class="navbar-brand" href="/">EJS Is Fun</a>
  <ul class="navbar-nav mr-auto">
    <li class="nav-item">
      <a class="nav-link" href="/">Home</a>
    </li>
    <li class="nav-item">
      <a class="nav-link" href="/about">About</a>
    </li>
  </ul>
  <li class="nav-item d-flex float-right" style="float: right;">
    <a class="nav-link btn-success" href="/login">Login</a>
    <a class="nav-link btn-info" href="/register">Register</a>
  </li>
</nav>