<!DOCTYPE html>
<html lang="en">
<head>
  <title>website</title>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css">
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.0/jquery.min.js"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/js/bootstrap.min.js"></script>
</head>
<style>
    .bg{
        background: url("images/Abg.jpg");
        background-size: cover;
        background-repeat: no-repeat;
        background-position: center; 
        background-repeat: no-repeat; 
        background-size: cover; 
        height:100vh;
    }

    .whiteText{
   color: white !important;
    }
</style>
<body>

<%- include('../partials/head') %>

<div class="bg">
    <div class="container">
    <h2 class="text-center whiteText">Welcome to our website</h2>
   
</div>
</div>

</body>
</html>